:root {
    --primary-color: #145DA0;
    --secondary-color: #0C2D48;
    --tertiary-color: #2E8BC0;
    --quaternary-color: #B1D4E0;

  }
body
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    background-color:var(--primary-color) ;
}
h3,p,label,input,h4,nav,button
{
    color: var(--quaternary-color);
}
button
{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    width: 30%;
    height: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#ButtonsTransaction,#ButtonsStats
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
label
{
    font-size: larger;
}
main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#TransacionList
{
    height:200px; 
    width:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
dt
{
    border-top:2px solid var(--tertiary-color)
}
input
{
    font-size: medium;
    background-color: var(--secondary-color);
}
#transaccionInputFields input
{
    width: 70%;
    background-color: var(--secondary-color);
}
img
{
    width: 20%;
}
#monto-section
{
    padding-left: 4%;
    background-color: var(--secondary-color);
    border-bottom:2px solid var(--secondary-color);
    margin-bottom: 10px;
}
#transaccionInputFields
{
    display: flex;
    flex-direction: column;
    align-items:  center;
    padding-top: 2%;
    padding-bottom: 1%;
}
#title
{
    font-size: larger;
    font-weight: bold;
}
nav section dl
{
    height:200px; 
    width:400px;
    overflow:scroll;
    overflow-y:scroll;
    background-color: var(--secondary-color);
}
